.section-title.follow-title
  Following
- @user.followings.each do |following|
  .follow-list
    = link_to account_path(following.id) do
      .follow-info
        .follow-avatar
          - if following.profile&.avatar&.attached?
            = image_tag following.profile&.avatar
          - else
            = image_tag 'avatar1.png'
        .follow-username
          = following.username
