.container

  .section-title.profile-edit-title Image Change

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div.profile-text
      = f.label :avatar, 'アバター'
    %div.profile-avatar-choice
      = f.file_field :avatar
    = f.submit '保存', :class => 'btn-primary'
