= @article.content
=link_to "http://twitter.com/share?url=#{ request.url } &text=さらに向こうへPLUS ULTRA!! &hashtags=もうすぐ春ですね",{class:"logo-profile"},target: "_blank" do
    = icon("fas", "share-alt", class: "logo-profile")
