.section-title.follow-title
  Follower

- @user.followers.each do |follower|
  .follow-list
    = link_to account_path(follower.id) do
      .follow-info
        .follow-avatar
          - if follower.profile&.avatar&.attached?
            = image_tag follower.profile&.avatar
          - else
            = image_tag 'avatar1.png'
        .follow-username
          = follower.username
