@charset "utf-8";

//breakpoint
$breakpoints: (
  "sp": "(max-width: 450px)",
  "pc": "(min-width: 768px)",
  "smwide": "(min-width: 768px)",
  "wide": "(min-width: 1200px)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #dfb9fd;
$sub-color: #2e3840;
