@charset "utf-8";

//breakpoint
$breakpoints: (
  "sp": "(max-width: 767px)",
  "pc": "(min-width: 768px)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}
