/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap');
@import "slick-theme";
@import "slick";
@import "bootstrap";
@import "variables";
@import "articles";
@import "devise";
@import "reset";
@import "header";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "profile";

.container {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 15px;
}

.hidden {
  display: none;
}

.fa-heart {
  cursor: pointer;
}

.active-heart{
  i{
    color: 	#F16682;
  }
}

.btn-primary {
  background-color: #dfb9fd;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary {
  background-color: white;
  border: solid 1px #dfb9fd;
  width: 100%;
  text-align: center;
  color: #dfb9fd;
  padding: 16px 0;
  font-weight: bold;
  cursor: pointer;
}

.avatar-style {
  img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100px;
  }
}

.section-title{
  font-family: 'Prompt', sans-serif;
  font-size: 45px;
  font-weight: 500;
}
