// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

$container-padding: 16px;

.article {
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;

  .article-poster-info {
    display: flex;
    margin-bottom: 13px;
    margin-left: 16px;

    .article-poster-info-text {
      margin-left: 10px;
      margin-top: 5px;

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }

  .article-image {
    max-height: 450px;

    img {
      height: 450px;
      object-fit: cover;
      width: 100%;

      @include mq(sp) {
        height: 300px;
      }
    }
  }

  .article-content {
    margin-top: 10px;
    margin-left: 16px;
  }
}

.new-post-btn {
  a {
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    text-decoration: none;
    background: $main-color;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px $main-color;
    border: dashed 1px #fff;
    transition: 0.4s;
    cursor: pointer;
    z-index: 100;

    @include mq(sp) {
      bottom: 8px;
      right: 8px;
      width: 60px;
      height: 60px;
      line-height: 60px;
    }

    @include mq(smwide) {
      bottom: 30px;
      right: 10vw;
      width: 120px;
      height: 120px;
      line-height: 120px;
    }

    @include mq(wide) {
      bottom: 80px;
      right: 21vw;
      width: 120px;
      height: 120px;
      line-height: 120px;
    }

    &:hover {
      background: #668ad8;
      box-shadow: 0px 0px 0px 5px #668ad8;
    }

    i {
      font-size: 45px;
      margin-top: 16px;

      @include mq(smwide) {
        font-size: 60px;
        margin-top: 27px;
      }

      @include mq(sp) {
        font-size: 36px;
        margin-top: 11px;
      }
    }
  }
}

.article-username {
  font-weight: bold;
}

.article-nav-icon {
  display: flex;
  margin-top: 12px;
  margin-left: 16px;
}

.article_heart,
.article-comment-icon,
.article-share-icon {
  i {
    font-size: 40px;
    color: $sub-color;
    margin-right: 10px;
  }
}

.article-delete-icon {
  i {
    font-size: 40px;
    color: $main-color;
    margin-left: 5px;
  }
}

.article-show {
  padding-top: 0px;
}
.comment-title {
  margin-bottom: 10px;
}

.comments-container {
  margin-left: 5px;
}

#comment_content,
#article_content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 170px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  outline: none;
  line-height: 1.6;
  resize: vertical;
}

#article-content {
  margin-bottom: 20px;
}

.show-comment-form,
.add-comment-button {
  margin-bottom: 20px;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 15px;
}

.form-text {
  font-weight: bold;
  margin-top: 30px;
}

.post-textarea {
  margin-bottom: 20px;
}

.bottom-image {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  img {
    margin-right: auto;
    margin-left: auto;

    text-align: center;
  }
}

.article-show-content {
  display: flex;
  align-items: center;
  margin-top: 10px;
  .article-show-content-left {
    img {
      height: 60px;
      min-width: 60px;
      object-fit: cover;
      border-radius: 100px;
    }
  }

  .article-show-content-right {
    margin-left: 10px;

    a {
      color: #000;
      text-decoration: none;
    }
  }
}
