@import "variables";

.follow-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.follow-list {
  a {
    text-decoration: none;
  }
}

.follow-info {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .follow-avatar {
    img {
      height: 65px;
      width: 65px;
      object-fit: cover;
      border-radius: 1000px;
      margin-right: 20px;

      @include mq(sp) {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }

      &::after {
        content: "";
        border-bottom: 10px solid #000;
        width: 200px;
      }
    }
  }

  .follow-username {
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
}
