@import "variables";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 100;
  background-color: #fff;
  width: 100%;

  @include mq(sp) {
    height: 75px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 590px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;

    .logo-home {
      height: 95px;

      @include mq(sp) {
        height: 65px;
        margin-top: 4px;
      }
    }

    .header-nav-avatar {
      img {
        border-radius: 100px;
        height: 65px;
        width: 65px;
        object-fit: cover;
        margin-bottom: 15px;
        margin-right: 10px;
        margin-top: 5px;

        @include mq(sp) {
          height: 50px;
          width: 50px;
          margin-bottom: 4px;
          margin-right: 15px;
        }
      }
    }

    .logo-profile {

        border-radius: 100px;
        height: 70px;
        width: 70px;
        object-fit: cover;
        margin-bottom: 7px;
        margin-right: 10px;

        @include mq(sp) {
          height: 60px;
          width: 60px;
          margin-bottom: 7px;
          margin-right: 15px;
        }
      }

  }

  .alert,
  .notice {
  }
}

.header-margin {
  color: #fff;
  height: 100px;
  width: 100%;
  z-index: 100;

  @include mq(sp) {
    height: 75px;
  }
}

.header-btn-nav {
  display: flex;

  .header-btn {
    a {
      color: #fff;
      background-color: $main-color;
      padding: 8px 8px;
      font-weight: bold;
      border-radius: 5px;

      @include mq(sp) {
        font-size: 12px;
      }
    }

    &:first-child {
      margin-right: 8px;
    }
  }
}
